<h1 class="titusection">Servicios de ahorro</h1>

<div class="contencard">
  <div class="card" style="width: 18rem;">
   <a routerLink="/Servicios/servicio/1"> <img src="{{path}}/img/ahorros/1.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Ahorro Extraordinario</h5>
      <p class="card-text">Ahorra y prográmate libremente para que cumplas tus sueños.</p>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <a routerLink="/Servicios/servicio/2">  <img src="{{path}}/img/ahorros/2.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Ahorro Navideño</h5>
      <p class="card-text">Prográmate para diciembre y así podrás realizar tus compras en diciembre.</p>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <a routerLink="/Servicios/servicio/3"> <img src="{{path}}/img/ahorros/3.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Ahorro Vacacional</h5>
      <p class="card-text">Empieza tu ahorro y  prográmate para tus vacaciones.</p>
    </div>
  </div>


  <div class="card" style="width: 18rem;">
    <a routerLink="/Servicios/servicio/4"> <img src="{{path}}/img/ahorros/4.jpg" class="card-img-top" alt="..."> </a>
    <div class="card-body">
      <h5 class="card-title">Ahorro De vivienda</h5>
      <p class="card-text">Empieza tu ahorro y solicítalo cuando vayas a comprar vivienda o hacer mejoras a la que ya tienes.</p>
    </div>
  </div>

</div>
<div class="contbtn">
  <a href="{{path}}/document/FEMSEAPTO_solicitud_de_ahorro.pdf" class="btn btn-success">DESCARGAR FORMULARIO DE SOLICITUD DE AHORRO</a>
 <!-- <a href="{{path}}/document/FEMSEAPTO_solicitud_de_ahorro.pdf" class="btn btn-success">DILIGENCIAR FORMULARIO DE PRE-SOLICITUD DE AHORRO (En Línea)</a>-->
</div>
