<h1 class="titusection">Servicios de credito</h1>
<div class="contencard">
<div class="card" style="width: 18rem;">
 <a routerLink="/Creditos/credito/5"> <img src="{{path}}/img/creditos/5.jpg" class="card-img-top" alt="..."></a>
  <div class="card-body">
  <h5 class="card-title">Credito Educativo</h5>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <a routerLink="/Creditos/credito/4"> <img src="{{path}}/img/creditos/4.jpg" class="card-img-top" alt="..."></a>
  <div class="card-body">
  <h5 class="card-title">Credito De Mejora De Vivienda</h5>
  </div>
</div>

<div class="card" style="width: 18rem;">
  <a routerLink="/Creditos/credito/2">  <img src="{{path}}/img/creditos/2.jpg" class="card-img-top" alt="..."></a>
  <div class="card-body">
  <h5 class="card-title">Credito De Consumo</h5>
</div>
</div>

<div class="card" style="width: 18rem;">
  <a routerLink="/Creditos/credito/6"><img src="{{path}}/img/creditos/6.jpg" class="card-img-top" alt="..."></a>
  <div class="card-body">
  <h5 class="card-title">Credito Extraordinario</h5>
</div>
</div>

<div class="card" style="width: 18rem;">
  <a routerLink="/Creditos/credito/7">  <img src="{{path}}/img/creditos/7.jpg" class="card-img-top" alt="..."></a>
  <div class="card-body">
  <h5 class="card-title">Credito Libre Inversion</h5>
</div>
</div>

<div class="card" style="width: 18rem;">
  <a routerLink="/Creditos/credito/9"> <img src="{{path}}/img/creditos/9.jpg" class="card-img-top" alt="..."></a>
  <div class="card-body">
    <h5 class="card-title">Credito Para Vehiculos</h5>
</div>
</div>


<div class="card" style="width: 18rem;">
  <a routerLink="/Creditos/credito/1"> <img src="{{path}}/img/creditos/1.jpg" class="card-img-top" alt="..."></a>
  <div class="card-body">
  <h5 class="card-title">Credito Calamidad</h5>
</div>
</div>

<div class="card" style="width: 18rem;">
  <a routerLink="/Creditos/credito/11"> <img src="{{path}}/img/creditos/11.jpg" class="card-img-top" alt="..."></a>
  <div class="card-body">
  <h5 class="card-title">Credito Vacacional</h5>
</div>
</div>

<div class="card" style="width: 18rem;">
  <a routerLink="/Creditos/credito/8">  <img src="{{path}}/img/creditos/8.jpg" class="card-img-top" alt="..."></a>
  <div class="card-body">
  <h5 class="card-title">Credito Microempresa</h5>
</div>
</div>


<div class="card" style="width: 18rem;">
  <a routerLink="/Creditos/credito/12"> <img src="{{path}}/img/creditos/12.jpg" class="card-img-top" alt="..."></a>
  <div class="card-body">
  <h5 class="card-title">Linea De Credito Ordinario</h5>
</div>
</div>

<div class="card" style="width: 18rem;">
  <a routerLink="/Creditos/credito/13">   <img src="{{path}}/img/creditos/13.jpg" class="card-img-top" alt="..."></a>
  <div class="card-body">
  <h5 class="card-title">Linea De Credito Credifacil</h5>
</div>
</div>

<div class="card" style="width: 18rem;">
  <a routerLink="/Creditos/credito/14">  <img src="{{path}}/img/creditos/14.jpg" class="card-img-top" alt="..."></a>
  <div class="card-body">
  <h5 class="card-title">Linea De Credito Crediagil</h5>
</div>
</div>

</div>
