
<div class="container">
  <div class="conttitu">
  <h1>Quienes somos</h1>
  <p><strong>"ESTAMOS SOÑANDO"</strong></p>
</div>
<h2>Objeto Social</h2>
<p >Contribuir al mejoramiento social, económico y cultural de nuestros asociados,
  asi como propender la seguridad social y el bienestar familiar, mediante la
  adecuada y equitativa prestación de servicios dentro de los recursos y capacidades del fondo.</p>

<div class="contmv">
  <div class="cardmv">
    <h2>Misión</h2>
    <p>Mejorar la calidad de vida de los asociados mediante la promoción del ahorro, la prestación de servicios de crédito y el desarrollo de actividades de bienestar, optimizando sus condiciones sociales, culturales y económicas a través de la administración eficaz de sus recursos. </p>
  </div>
  <div class="cardmv">
    <h2>Visión</h2>
    <p>Ser reconocido en el 2026 como la primera y mejor alternativa en la oferta de servicios de ahorro, crédito y bienestar social para los asociados.</p>
  </div>
</div>

<div class="convalor">
<h2>Valores Y Principios Corporativos</h2>
<p>Trabajar bajo los principios cooperativos y solidarios, buscando que las acciones
  se caractericen por un actuar ético y sostenible. </p>
  <h3>Valores Corporativos</h3>
  <ul>
    <li><strong>Ayuda mutua:</strong> Es nuestro interés, sentir y propósito común, producir bienes y servicios que mejoren la calidad de vida del asociado y la comunidad.</li>
    <li><strong>Responsabilidad:</strong> FEMSEAPTO asume de manera responsable y con compromiso las decisiones que se toman, de conformidad con la ley y el estatuto, y las acciones que se ejecutan en la condición de asociado o administrador de nuestra organización.</li>
    <li><strong>Honestidad:</strong> FEMSEAPTO  fomenta la capacidad de ser veraz y confiable para sí mismo y para los demás. </li>
    <li><strong>Respeto:</strong> FEMSEAPTO reconoce las cualidades y derechos de los demás a través de un trato digno y justo. </li>
    <li><strong>Transparencia:</strong> FEMSEAPTO actúa con sinceridad, honestidad y coherencia en todas las actividades que realiza. </li>
    <li><strong>Confianza:</strong> FEMSEAPTO genera credibilidad y aceptación por parte de los asociados, gracias a la transparencia y eficiencia de la gestión administrativa y solidez económica. </li>
    <li><strong>Equidad:</strong> En FEMSEAPTO todos los asociados tienen las mismas oportunidades en participación y acceso a los servicios.</li>
  </ul>

  <h3>Principios Corporativos</h3>
  <ul>
    <li><strong>Asociación voluntaria:</strong> Los asociados aceptan voluntariamente las responsabilidades que conlleva asociarse, sin discriminaciones de raza, género, política o religión. </li>
    <li><strong>Democracia:</strong> Todos los asociados deben participar en la toma de decisiones y los miembros de los órganos de administración y control tendrán la responsabilidad de su gestión ante los asociados, teniendo en cuenta que el fondo pertenece a todos los asociados. </li>
    <li><strong>Autonomía e independencia:</strong> El control lo tienen los asociados y por lo tanto el fondo es autónomo en la toma de decisiones, que están siempre ajustadas a la ley y a las buenas costumbres. </li>
    <li><strong>Educación:</strong> FEMSEAPTO brinda educación a sus asociados, miembros de los órganos de administración, control y empleados, con el fin de contribuir eficazmente al desarrollo del fondo.  </li>
    <li><strong>Responsabilidad social:</strong> FEMSEAPTO fomenta el desarrollo de la comunidad en aspectos económicos, sociales, ambientales y culturales.</li>
    <li><strong>Administración democrática y participativa:</strong> al interior del Fondo de Empleados, se desarrollan procesos participativos que promueven la amplia participación de sus asociados en la cual ejercen su derecho a voz y voto, delegando de forma representativa la confianza para ser representado dentro de los intereses comunes y colectivos. </li>
    <li><strong>Participación y control económico y social por parte de los asociados:</strong> Los asociados del Fondo de Empleados participan de su proceso económico, desde la generación hasta el uso y apropiación de productos, programas y/o servicios beneficiándose de estos, a su vez ejercen un control económico, social y administrativo a través de la revisoría fiscal como control externo, y un control social a través del comité de control social. </li>
    <li><strong>Interés colectivo por los asociados, su grupo familiar y el medio ambiente:</strong> El Fondo de Empleados busca permanentemente la satisfacción de las necesidades de sus asociados y sus familiares forma colectiva. promoviendo con sus asociados y familias la implementación de prácticas solidarias para la protección del medio ambiente. </li>
  </ul>

</div>
</div>
