@font-face {
  font-family: brees;
  src: url('../../../../assets/fonts/Bree_Serif/BreeSerif-Regular.ttf');
}

h1,h2,h3,h4,h5,h6{
  color: #006339 ;
  font-family: brees;
}

.card1{
  width: 45%;
  padding: 10px;

}

.card1 img{
  width: 100%;
}

.card1 p{
  margin: 25px auto;
  color: #ccc;
  font-size: 25px;
}

.card1 strong{
  color:#006339
}

.card{
  margin: 20px;
  transition: all 0.5s;
}
.card:hover{
  box-shadow: 3px 3px 6px #006339;
}

.titusection{
text-align: center;
margin: 50px auto;
text-transform: uppercase;
}


.imgbanner{
  width: 100%;
}


.contencard, .contbtn{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: 25px auto;

}

.btn{
  margin-bottom: 10px;
}

.btn:hover{
  background: #FECC00;
  border: none;
}



.servicio-credito{

  padding-top: 50px;


}


.servicio-credito img{
  cursor: pointer;
}
.parent {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  gap: 5px;
  }
  
  .div1 { grid-area: 1 / 1 / 2 / 2; position: relative; overflow: hidden;}
  .tex{ position: absolute; top: -100%; transition: all 0.5s; width: 100%; height: 100% ; background: #000000ab; color: white; }
  .div1:hover .tex{top: 0;}
  .div2 { grid-area: 2 / 1 / 3 / 2; position: relative; overflow: hidden;}
  .div2:hover .tex{top: 0;}
  .div3 { grid-area: 3 / 1 / 4 / 2; position: relative; overflow: hidden;}
  .div3:hover .tex{top: 0;}
  .div4 { grid-area: 1 / 2 / 3 / 4; position: relative; overflow: hidden;}
  .div4:hover .tex{top: 0;}
  .div5 { grid-area: 3 / 2 / 4 / 3; position: relative; overflow: hidden;}
  .div5:hover .tex{top: 0;}
  .div6 { grid-area: 3 / 3 / 4 / 4; position: relative; overflow: hidden;}
  .div6:hover .tex{top: 0;}
  .div7 { grid-area: 1 / 4 / 2 / 5; position: relative; overflow: hidden;}
  .div7:hover .tex{top: 0;}
  .div8 { grid-area: 2 / 4 / 4 / 6; position: relative; overflow: hidden;}
  .div8:hover .tex{top: 0;}
  .div9 { grid-area: 1 / 5 / 2 / 6; position: relative; overflow: hidden;}
  .div9:hover .tex{top: 0;}


.tex {
  width: 100%;
  text-align: center;
  padding: 5px;
  font-size: 20px;
}

.tex a{
  width: 100%;
  margin: 20px auto;
}

.separate{
  height: 20px;
  width: 100%;
  background: linear-gradient(to right, #006339, #FECC00 );
}

.contenbtn{
  margin: 25px auto;
display: flex;
justify-content: center;
}

@media (max-width:990px) {
  .card1{
    width: 90%;
    margin: auto;
  }
.tex{
  font-size: 12px;
}

  .parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr) repeat(2, 0);
    grid-template-rows: repeat(5, 1fr);
    grid-column-gap: 2px;
    grid-row-gap: 2px;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 1 / 2 / 3 / 4; }
    .div3 { grid-area: 2 / 1 / 3 / 2; }
    .div4 { grid-area: 3 / 1 / 4 / 2; }
    .div5 { grid-area: 4 / 1 / 5 / 2; }
    .div6 { grid-area: 3 / 2 / 5 / 4; }
    .div7 { grid-area: 5 / 1 / 6 / 2; }
    .div8 { grid-area: 5 / 2 / 6 / 3; }
    .div9 { grid-area: 5 / 3 / 6 / 4; }


.tex a{
  font-size: 12px;
  padding: 3px 6px;
  margin: 3px auto;
}


}