<section class="banner">
  <div class="conbaner">
    <img src="{{path}}/img/bgindex.png" class="imgbanner">
  </div>
</section>
<section class="servicios-ahorro">
  <h1 class="titusection">Servicios de ahorro</h1>

  <div class="contencard">
    <div class="card" style="width: 18rem;">
     <a routerLink="/Servicios/1"> <img src="{{path}}/img/ahorros/1.jpg" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title">Ahorro Extraordinario</h5>
        <p class="card-text">Ahorra y prográmate libremente para que cumplas tus sueños.</p>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <a routerLink="/Servicios/2">  <img src="{{path}}/img/ahorros/2.jpg" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title">Ahorro Navideño</h5>
        <p class="card-text">Prográmate para diciembre y así podrás realizar tus compras en diciembre.</p>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
      <a routerLink="/Servicios/3"> <img src="{{path}}/img/ahorros/3.jpg" class="card-img-top" alt="..."></a>
      <div class="card-body">
        <h5 class="card-title">Ahorro Vacacional</h5>
        <p class="card-text">Empieza tu ahorro y  prográmate para tus vacaciones.</p>
      </div>
    </div>


    <div class="card" style="width: 18rem;">
      <a routerLink="/Servicios/4"> <img src="{{path}}/img/ahorros/4.jpg" class="card-img-top" alt="..."> </a>
      <div class="card-body">
        <h5 class="card-title">Ahorro De vivienda</h5>
        <p class="card-text">Empieza tu ahorro y solicítalo cuando vayas a comprar vivienda o hacer mejoras a la que ya tienes.</p>
      </div>
    </div>

  </div>
  <div class="contbtn">
    <a href="{{path}}/document/FEMSEAPTO_solicitud_de_ahorro.pdf" class="btn btn-success">DESCARGAR FORMULARIO DE SOLICITUD DE AHORRO</a>
    <a href="{{path}}/document/FEMSEAPTO_solicitud_de_ahorro.pdf" class="btn btn-success">DILIGENCIAR FORMULARIO DE PRE-SOLICITUD DE AHORRO (En Línea)</a>
  </div>
</section>

<section class="servicio-credito">
  <h1 class="titusection">Servicios de credito</h1>
  <div class="contencard">
  <div class="card" style="width: 18rem;">
   <a routerLink="/Creditos/5"> <img src="{{path}}/img/creditos/5.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
    <h5 class="card-title">Credito Educativo</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <a routerLink="/Creditos/4"> <img src="{{path}}/img/creditos/4.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
    <h5 class="card-title">Credito De Mejora De Vivienda</h5>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <a routerLink="/Creditos/2">  <img src="{{path}}/img/creditos/2.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
    <h5 class="card-title">Credito De Consumo</h5>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <a routerLink="/Creditos/6"><img src="{{path}}/img/creditos/6.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
    <h5 class="card-title">Credito Extraordinario</h5>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <a routerLink="/Creditos/7">  <img src="{{path}}/img/creditos/7.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
    <h5 class="card-title">Credito Libre Inversion</h5>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <a routerLink="/Creditos/9"> <img src="{{path}}/img/creditos/9.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
      <h5 class="card-title">Credito Para Vehiculos</h5>
  </div>
  </div>


  <div class="card" style="width: 18rem;">
    <a routerLink="/Creditos/1"> <img src="{{path}}/img/creditos/1.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
    <h5 class="card-title">Credito Calamidad</h5>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <a routerLink="/Creditos/11"> <img src="{{path}}/img/creditos/11.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
    <h5 class="card-title">Credito Vacacional</h5>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <a routerLink="/Creditos/8">  <img src="{{path}}/img/creditos/8.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
    <h5 class="card-title">Credito Microempresa</h5>
  </div>
  </div>


  <div class="card" style="width: 18rem;">
    <a routerLink="/Creditos/12"> <img src="{{path}}/img/creditos/12.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
    <h5 class="card-title">Linea De Credito Ordinario</h5>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <a routerLink="/Creditos/13">   <img src="{{path}}/img/creditos/13.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
    <h5 class="card-title">Linea De Credito Credifacil</h5>
  </div>
  </div>

  <div class="card" style="width: 18rem;">
    <a routerLink="/Creditos/14">  <img src="{{path}}/img/creditos/14.jpg" class="card-img-top" alt="..."></a>
    <div class="card-body">
    <h5 class="card-title">Linea De Credito Crediagil</h5>
  </div>
  </div>

</div>
</section>

