@font-face {
  font-family: brees;
  src: url('assets/fonts/Bree_Serif/BreeSerif-Regular.ttf');
}

h1,h2,h3,h4,h5,h6{
  color: #006339 ;
  font-family: brees;
}




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

