<!-- Footer -->
<footer class="row row-cols-5 py-5 my-5 border-top">
  <div class="col ">
    <a href="/" class="d-flex align-items-center mb-3 link-dark text-decoration-none">
    <img src="{{path}}/img/logo.png" alt="" width="220px">
    </a>
    <p class="text-muted">Fondo de empleados - Política de privacidad</p>
    <p class="text-muted">© 2022</p>
  </div>



  <div class="col">
    <h5>Navegación</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a routerLink="Home" class="nav-link p-0 text-muted">Inicio</a></li>
      <li class="nav-item mb-2"><a routerLink="Convenios/" class="nav-link p-0 text-muted">Convenios</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Quiénes somos</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Normatividad</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Contáctenos</a></li>
    </ul>
  </div>

  <div class="col">
    <h5>Oficina Virtual</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Actualización de datos</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Pre-solicitud de crédito</a></li>

    </ul>
  </div>

  <div class="col">
    <h5>Contacto</h5>
    <ul class="nav flex-column">
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">Móvil: +57 321 403 0957 - 321 385 6420</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">E-mail: femseapto@ganagana.com.co</a></li>
      <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">PBX: +57 (8) 261 0014 - Ext: 150</a></li>

    </ul>
  </div>

</footer>

